.form-wrap label .required {
  color: RED;
}
.form-wrap .card-footer button:nth-child(n+2) {
  margin-left: 10px;
}

/*======================
// Grop checkbox
======================*/
.group-checkbox {
  height: 170px;
  overflow-y: scroll;
}

.card .card-logo {
  height: 60px;
  width: auto;
  display: flex;
  justify-content: center;
}

.card .card-logo img {
  width: 110px;
  height: auto;
}

.card .card-footer a:hover {
  text-decoration: none;
}

/*=========================
// Suggestags
=========================*/
.amsify-suggestags-input-area .amsify-select-tag.col-bg{
  background: #20a8d8;
}