body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey;
  padding: 30px;
}

.heading-secondary{
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 2rem;
  cursor: pointer;

  @include respond(tab-port){
    font-size: 3rem;
  }
  @include respond(phone){
    font-size: 3rem;
  }

  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  color: transparent;
  -webkit-background-clip: text;

  transition: all 0.2s ;

  &:hover{
    transform: skew(10deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-tertiary{
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragragh{
  font-size: 1.6rem;
  &:not(:last-child){
    margin-bottom: 3rem;
  }
}