{# Filter box #}
  <div class="filter float-left">
    <div class="row">
     {% if detail_all_url != '' %}
      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <a class="card-logo" href="{{detail_all_url}}">
              <img src='https://www.leadplus.net/hubfs/leadplus2016/images/logo.svg' alt='All site' />
            </a>
            <!-- End .card-logo -->
          </div>
          <!-- End .card-body -->
          <div class="card-footer">
            <a class="card-link" href="{{detail_all_url}}">All site</a>
          </div>
          <!-- End .card-footer -->
        </div>
      </div>
      <!-- End .col-3 -->
      {% endif %}
      {% for site in list_site_info %}
      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <a class="card-logo" href="{{detail_url}}/{{site.id}}">
              <img src='{{site.logo}}' alt='{{site.name}}' />
            </a>
            <!-- End .card-logo -->
          </div>
          <!-- End .card-body -->
          <div class="card-footer">
            <a class="card-link" href="{{detail_url}}/{{site.id}}">{{site.name}}{% if site.report_type == 'group' %}<span
                class='badge badge-danger ml-2'>Group</span>{% endif %}</a>
          </div>
          <!-- End .card-footer -->
        </div>
      </div>
      <!-- End .col-3 -->
      {% endfor %}
    </div>
    <!-- End .row -->
  </div>
  <!-- End .filter -->
{# End Filter box #}