{% extends 'base.html' %}

{% block main %}
<div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
  <i class="fa fa-calendar"></i>&nbsp; <span></span>
  <i class="fa fa-caret-down"></i>      
</div>

<div id="reportrange123" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
  <i class="fa fa-calendar"></i>&nbsp; <span></span>
  <i class="fa fa-caret-down"></i>      
</div>

<script type="text/javascript">
$(document).ready(function(){
  init_calendar("reportrange");
  $('#reportrange')
  
  init_calendar("reportrange123");
});
</script>
{% endblock %}