<table id="table_data" class="table table-responsive-sm table-border table-hover table-bordered display nowrap">
    <thead>
        <th class="text-center">Post title</th>
        <th class="text-center">Category</th>
        <th class="text-center">Published date</th>
        <th class="text-center">Publication period(month)</th>
        <th class="text-center">Monthly view</th>
        <th class="text-center">CTA click</th>
        <th class="text-center">CTA click rate</th>
        <th class="text-center">Conversion</th>
        <th class="text-center">Total session</th>
        <th class="text-center">Session/ month</th>
        <th class="text-center">Organic Keyword</th>
        {%for date in list_month_get_value%}
        <th class="text-center">{{date}}</th>
        {%endfor%}
    </thead>
    <tbody>
        {%for list_data in list_data_table%}
            <tr>
                {%for data in list_data%}
                <td class="text-center">{{data}}</td>
                {%endfor%}
            </tr>
        {%endfor%}
        
    </tbody>
</table>

<script>
$(document).ready(function(){
    $('button.dt-button').addClass('btn btn-primary')
})
$('#table_data').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            //'copy','pdf',
            {
                extend: 'excelHtml5',
                title: "Hello Nhan dai ca",
                sheetName: 'Blog',
            }
        ],
        select: true
    } );
</script>