
%CSSButton {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  font-size: 1.6rem;
  position: relative;
}

.btn{
  @extend %CSSButton;
  &:link {
    @extend %CSSButton; 
    &:visited{
      @extend %CSSButton; 
    }    
  }

  &--white{
    color: $color-grey;
    background-color: $color-white;
    &::after{
      background-color: $color-white;
    }
  }

  &:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 20px rgba($color-black, .2);
    &::after{
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active{
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba($color-black, .2);
  }

  &::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* Css cho button after giống hệt button gốc */
    border-radius: 100px;
    /* after nằm dưới button */
    z-index: -1;  
     /* Hãy để transition vào thấy sự chuyển động */
    transition: all .4s;  
  }

  &--animated{
    animation: moveInBottom .5s ease-out .75s;
    /* Mới đầu không muốn button không xuất hiện sẵn trên header cho đến khi animation được chạy */
    animation-fill-mode: backwards;
  }

  &--blue{
    background-color: $color-primary;
    color: $color-white;
    
    &::after{
      background-color: $color-primary;
    }
  }
}

.btn-text{
  &:link,
  &:visited{
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: .3rem;
    font-size: $default-font-size;
  }
  &:hover{
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-0.2rem);
  }
  // khi hover thì nó dịch lên 1 đoạn và khi nhấn xuống (active) thì nó bằng 0 nên cảm giác sẽ là như nhấn xuống
  &:active{
    box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    transform: translateY(0);
  }

  transition: all .2s;
}